.birthday-celebrants-div{
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 10px;
}
.birthday-holder{
    margin-bottom: 30px;
}
.birthday-celebrants-div a {
    color: inherit;
    text-decoration: inherit;
}
.birthday-celebrants-div a:hover{
    color: #30A5FF;
}
.birthday-celebrants-div span.fa{
    color: red;
}
.engagement_title{
    cursor: pointer;
}
#new_hire_loader{
    -webkit-animation-name: rotation-load; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation: rotation-load 3s infinite;
    -webkit-animation: rotation-load 3s infinite;
    color: #0C59A2;
    font-size: 35px;
}
@-webkit-keyframes rotation-load {
    0%   { transform: rotate(0deg); color: #0C59A2; }
    50%  { transform: rotate(180deg); color: #46B7E0; }
    100% { transform: rotate(360deg); }
}

/* Standard syntax */
@keyframes rotation-load {
     0%   { transform: rotate(0deg); color: #0C59A2; }
    50%  { transform: rotate(180deg); color: #46B7E0; }
    100% { transform: rotate(360deg); }
}
#backtotop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border-width: 0px;
}
.item{
   max-height: 600px;
}
.item img{
margin: 0 auto;
}
a.left.carousel-control, a.right.carousel-control {
background: none;
}